/*
* {
	font-family: system-ui;
	margin: 0;
	padding: 0;
}*/

html, body {
	background-color: ;
}

.allow-drag {
	-webkit-app-region: drag;
}

.header-flex-element {
    -webkit-app-region: no-drag;
}
